<h1>Browse</h1>

<table border="1">
    <tr>
        <th>question</th>
        <th>answer</th>
        <th>created by</th>
    </tr>
    <% cards.forEach(card => { %>
        <tr>
            <td>
                <%= card.question %>
            </td>
            <td>
                <%= card.answer %>
            </td>
            <td>
                <%= card.owner ? card.owner.username : '' %>
            </td>
        </tr>
    <% }); %>
</table>
