<!DOCTYPE html>
<html>
<head>
    <title>
        <%= locals.title ? locals.title + ' | ' : null %>
        Quiz
    </title>

    <script src="/vendor/jquery-3.3.1.min.js"></script>
</head>
<body>
    <% if (locals.user) { %>
        <a href="/logout">logout</a>
        <a href="/newCard">new card</a>
    <% } %>

    <%- include('./' + view) %>
</body>
</html>
