<!DOCTYPE html>
<html>
<head>
    <title>Login | Quiz</title>
    <script src="/vendor/jquery-3.3.1.min.js"></script>
    <script src="/scripts/signup.js"></script>
</head>
<body>
    <h1>Quiz</h1>
    <div id="login-form">
        <h2>Login</h2>
        <form action="/login" method="post">
            <input type="text" name="username" placeholder="username">
            <input type="password" name="password" placeholder="password">
            <button type="submit">submit</button>
        </form>
    </div>
    <div id="signup-form">
        <h2>Signup</h2>
        <form action="/signup" method="post">
            <input type="text" name="username" placeholder="choose username">
            <input type="password" name="password" placeholder="choose password">
            <button type="submit">submit</button>
        </form>
        <div class="error-message"></div>
    </div>
</body>
</html>
