<h1>New Card List</h1>

<div>
    <form action="/newCardList" method="post">
        <h2>Title</h2>
        <input type="text" name="title">
        <button type="submit">submit</button>
    </form>
    <div class="error-message"></div>
</div>
