<h1>New Card</h1>

<div id="new-card-form">
    <form action="/newCard" method="post">
        <h2>Question</h2>
        <textarea name="question"></textarea>
        <h2>Answer</h2>
        <textarea name="answer"></textarea>
        <h2>List</h2>
        <select name="cardList">
            <option value="">None</option>
            <% cardLists.forEach(cardList => { %>
                <option value="<%= cardList %>"><%= cardList %></option>
            <% }); %>
            <option value="createNewCardList">New List</option>
        </select>
        <input type="text" name="newCardList" placeholder="New List" style="display: none;">
        <br>
        <button type="submit">submit</button>
    </form>
    <div class="error-message"></div>
</div>

<script>
    $('select[name="cardList"]').change(() => {
        const isNew = $('select[name="cardList"]').val() == 'createNewCardList';
        $('input[name="newCardList"]').toggle(isNew);
        if (isNew) {
            $('input[name="newCardList"]').focus();
        }
    });
</script>
