<h1>New Card</h1>

<div id="new-card-form">
    <form action="/newCard" method="post">
        <h2>Question</h2>
        <textarea name="question"></textarea>
        <h2>Answer</h2>
        <textarea name="answer"></textarea>
        <br>
        <button type="submit">submit</button>
    </form>
    <div class="error-message"></div>
</div>
