<h1>New Card</h1>

<div id="new-card-form">
    <form action="/newCard" method="post">
        <h2>Question</h2>
        <textarea name="question"></textarea>
        <h2>Answer</h2>
        <textarea name="answer"></textarea>
        <h2>List</h2>
        <select name="list">
            <option>None</option>
            <% cardLists.forEach(cardList => { %>
                <option value="<%= cardList %>"><%= cardList %></option>
            <% }); %>
            <option value="createnewlist">New List</option>
        </select>
        <input type="text" name="list-new" placeholder="New List" style="display: none;">
        <br>
        <button type="submit">submit</button>
    </form>
    <div class="error-message"></div>
</div>

<script>
    $('select[name="list"]').change(() => {
        const isNew = $('select[name="list"]').val() == 'createnewlist';
        $('input[name="list-new"]').toggle(isNew);
        if (isNew) {
            $('input[name="list-new"]').focus();
        }
    });
</script>
