<h1>My Profile</h1>

<p>
    <a href="/quiz">start quiz</a>
</p>

<h2>My Owned Cards</h2>

<p>
    Number of cards: <%= cards.length %>
</p>

<table border="1">
    <tr>
        <th>question</th>
        <th>answer</th>
    </tr>
    <% cards.forEach(card => { %>
        <tr>
            <td>
                <%= card.question %>
            </td>
            <td>
                <%= card.answer %>
            </td>
        </tr>
    <% }); %>
</table>

<h2>Card Lists</h2>

<% cardLists.forEach(cardList => { %>
  <p>
    <%= cardList.title %>
  </p>
<% }); %>
